<div class="container-fluid">
    <div class="row my-5">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Personal Details</h5>
                    <p class="card-text"><span class="fw-bold">Username: </span>Anandhu</p>
                    <p class="card-text"><span class="fw-bold">Email: </span>anandhu@gmail.com</p>
                    <p class="card-text"><span class="fw-bold">Password: </span>1234</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Address</h5>
                    <p class="card-text"><span class="fw-bold">City: </span>Erattupetta</p>
                    <p class="card-text"><span class="fw-bold">District: </span>Kottayam</p>
                    <p class="card-text"><span class="fw-bold">Pin: </span>686580</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Social links
                    </h5>
                    <p class="card-text"><span class="fw-bold">Facebook: </span>link</p>
                    <p class="card-text"><span class="fw-bold">Instagram: </span>link</p>
                    <p class="card-text"><span class="fw-bold">LinkedIn: </span>link</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-primary w-25" [routerLink]="['/user/profile/edit/']">Edit profile</a>
    </div>
</div>